*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: #B88987;
}

h3 {
    font-size: 30px;
    color: #B88987;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 34px;
}

h4 {
    font-size: 20px;
    color: #B88987;
    font-weight: 400;
    line-height: 29px;
}

.container {
    max-width: 1336px;
    margin: auto;
}

.main-section{
    height: 100vh;
}

.announcement {
    text-align: center;
    position: relative;
    color: #B88987;
    padding: 1em;
    background-color: #fff;
}

header {
    background-color: #E6E1D6;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    min-height: 75px;
}

.menu {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.menu-icon__bar {
    position: absolute;
    left: 3px;
    width: 23px;
    height: 2px;
    background-color: #fff;
}

.menu-icon__bar1 {
    top: 6px;
}
.menu-icon__bar2 {
    top: 13px;
}
.menu-icon__bar3 {
    top: 20px;
}

.logo img {
    width: 200px;
}

.search-box {
    position: absolute;
    top: 30px;
    right: 100px;
    min-width: 400px;
    max-width: 400px;
}
.search-box form {
    margin: 0 16px;
    border: 2px solid #000;
    display: flex;
}

.search-box form input[type='search'] {
    width: 100%;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
}

.search-box button[type='submit']{
    width: 100px;
    cursor: pointer;
    outline: none;
    padding: 7px 20px 7px 42px;
}

.search-box button[type='submit']:hover {
    border: 2px solid #fff;
    transition: 0.3s ease-out;
}

button, input[type=submit], .button {
    -webkit-appearance: none;
    display: inline-block;
    background: #e6e1d6;
    color: black;
    border: 3px solid #e6e1d6;
    height: auto;
    padding: 0.6em 3em;
    letter-spacing: 1px;
    vertical-align: top;
}

.cart img {
    width: 26px;
}

.main-section__content {
    background-image: url(./img/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.shop-now-btn {
    padding: 11px 45px;
    background-color: #E6E1D6;
    position: absolute;
    border: 2px solid #E6E1D6;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.shop-now-btn:hover {
    background-color: #e6e1d6a2;
    border: 2px solid #fff;
    transition: 0.3s ease-out;
}

.shop-now-btn a {
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

.description-section {
    height: 100%;
    background-color: #E6E1D6;
    padding: 200px 175px 217px;
    text-align: center;
}

.description-section h1 {
    margin-bottom: 44px;
}

.description-section p{
    font-size: 18px;
    max-width: 1090px;
    margin: auto;
    line-height: 25px;
}

.products-section {
    background-color: #fff;
    padding: 90px 0;
}

.products-section h4 {
    margin-bottom: 25px;
}

.products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.products-list .product-item {
    max-width: 428px;
    width: 33%;
    text-align: center;
    margin-bottom: 40px;
}

.products-list .product-item__img {
    width: 100%;
    height: 100%;
    max-height: 285px;
}

.products-list .product-item__img img {
    height: 100%;
}

.products-list .product-item__description {
    line-height: 30px;
}

.products-list .product-item__description-name {
    font-weight: 700;
    font-size: 13px;
}

.products-list .product-item__description-price {
    font-size: 12px;
}

.products-list .product-item__description-review {
    font-size: 11px;
}

.free-from-section{
    margin-bottom: 80px;
}

.free-from-container{
    height: auto;
    width: 100%;
    background-color: #CFACAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-from-img {
    width: 50%;
    height: 1080px;
    background-image: url(./img/Free-from-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.free-from-list-block {
    background-color: #CFACAD;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.free-from-list-block h3{
    font-weight: 700;
    padding-bottom: 43px;
    color: #fff;
}

.free-from-list {
    padding-bottom: 43px;
}

.free-from-list-item {
    list-style-type: none;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.free-from-btn {
    padding: 11px 45px;
    border: 3px solid #fff;
    background-color: #CFACAD;
    cursor: pointer;
}

.free-from-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-out;
}

.reviews-section{
    margin-bottom: 80px;
}

.intro-text {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    padding: 40px 0;
}

.swiper-container {
    width: 100%;
    margin-bottom: 50px;
}

.reviews-section .reviews-container .swiper-container .swiper-wrapper .swiper-slide {
    height: 346px;
    color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.review-slide-1{
    background-image: url(./img/reviews/review-1.png);
}

.review-slide-2 {
    background-image: url(./img/reviews/review-2.png);
}

.review-slide-3 {
    background-image: url(./img/reviews/review-3.png);
}

.review-slide-4 {
    background-image: url(./img/reviews/review-4.png);
}

.review-slide-5 {
    background-image: url(./img/reviews/review-5.png);
}

.img-wrapper {
    background: rgba(3, 3, 3, 0.6);
    padding: 20px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.post-text {
    line-height: 25px;
    letter-spacing: 0.5px;
}

.post-date {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
}

.reviews-btn {
    padding: 11px 0;
    background-color: #E6E1D6;
    border: 3px solid #E6E1D6;
    width: 206px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.reviews-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-out;
}

.reviews-btn p {
    text-align: center;
}

.product-description-container {
    width: 100%;
    height: auto;
    background-color: #E6E1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description-block, .product-img-block {
    width: 50%;
}

.product-img-block {
    background-image: url(./img/buy-product-section.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
}

.product-description-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description-block form {
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-description-block h2 {
    margin-bottom: 33px;
}

.product-description-block .price {
    font-size: 21px;
    color: #B88987;
    margin-bottom: 18px;
}

.product-description-block .description {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
}

.count-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    border: 3px solid #000;
    padding: 12px 116px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing: normal;
    font-size: 14px;
    margin-bottom: 33px;
}

.add-to-cart-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    transition: 0.3s ease-out;
}

.buy-it-now-btn {
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    position: relative;
}

.buy-it-now-btn::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #B88987;
    transition: width 0.3s ease-out;
    left: 0;
}

.buy-it-now-btn:hover::after,
.buy-it-now-btn:focus::after {
    width: 100%
}

.brands-section {
    width: 100%;
    height: auto;
}

.brands-section img {
    width: 100%;
}

.get-glowing-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.get-glowing-text-block, .get-glowing-img-block {
    width: 50%;
}

.get-glowing-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-glowing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 535px;
}

.get-glowing-text-block p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 42px;
    text-align: center;
}

.get-glowing-btn {
    color: #000;
    text-decoration: none;
    padding: 12px 45px;
    border: 3px solid #E6E1D6;
    background-color: #E6E1D6;
}

.get-glowing-img-block {
    background-image: url(./img/Your-skin-deserves-section.png);
    background-size: cover;
    background-position: center;
    height: 1080px;
}