*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: #B88987;
}

h3 {
    font-size: 30px;
    color: #B88987;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 34px;
}

h4 {
    font-size: 20px;
    color: #B88987;
    font-weight: 400;
    line-height: 29px;
}

.container {
    max-width: 1336px;
    margin: auto;
}

.main-section{
    height: 100vh;
}

.announcement {
    text-align: center;
    position: relative;
    color: #B88987;
    padding: 1em;
    background-color: #fff;
}

header {
    background-color: #E6E1D6;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    min-height: 75px;
}

.menu {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-icon__bar {
    position: absolute;
    left: 3px;
    width: 23px;
    height: 2px;
    background-color: #fff;
}

.menu-icon__bar1 {
    top: 6px;
}
.menu-icon__bar2 {
    top: 13px;
}
.menu-icon__bar3 {
    top: 20px;
}

.logo img {
    width: 200px;
}

.search-mobile {
    display: none;
}

.cart-mobile {
    display: none;
}

.search-box {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    width: 400px;
}
.search-box form {
    margin: 0 16px;
    border: 2px solid #000;
    display: flex;
}

.search-box form input[type='search'] {
    width: 100%;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
}

.search-box button[type='submit']{
    width: 100px;
    cursor: pointer;
    outline: none;
    padding: 7px 20px 7px 42px;
}

.search-box button[type='submit']:hover {
    border: 2px solid #fff;
    transition: 0.3s ease-out;
}

button, input[type=submit], .button {
    -webkit-appearance: none;
    display: inline-block;
    background: #e6e1d6;
    color: black;
    border: 3px solid #e6e1d6;
    height: auto;
    padding: 0.6em 3em;
    letter-spacing: 1px;
    vertical-align: top;
}

.cart img {
    width: 26px;
}

.main-section__content {
    background-image: url(./img/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.shop-now-btn {
    padding: 11px 45px;
    background-color: #E6E1D6;
    position: absolute;
    border: 2px solid #E6E1D6;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.shop-now-btn:hover {
    background-color: #e6e1d6a2;
    border: 2px solid #fff;
    transition: 0.3s ease-out;
}

.shop-now-btn a {
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

.description-section {
    height: 100%;
    background-color: #E6E1D6;
    padding: 200px 175px 217px;
    text-align: center;
}

.description-section h1 {
    margin-bottom: 44px;
}

.description-section p{
    font-size: 18px;
    max-width: 1090px;
    margin: auto;
    line-height: 25px;
}

.products-section {
    background-color: #fff;
    padding: 90px 0;
}

.products-section h4 {
    margin-bottom: 25px;
}

.products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.products-list .product-item {
    max-width: 428px;
    width: 33%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.product-label-sold {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    background-color: #ecb1b0;
    border-radius: 50%;
    padding: 0 10px;
    color: #333;
    font-size: 12px;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    text-align: center;
}



.product-item .product-1 {
    background-image: url(./img/products/product-1.jpg);
    background-size: cover;
}

.product-item .product-1:hover {
    background-image: url(./img/products/product-1-hover.jpg);
}

.product-item .product-2 {
    background-image: url(./img/products/product-2.png);
    background-size: cover;
}

.product-item .product-2:hover {
    background-image: url(./img/products/product-2-hover.jpg);
}

.product-item .product-3 {
    background-image: url(./img/products/product-3.png);
    background-size: cover;
}

.product-item .product-3:hover {
    background-image: url(./img/products/product-3-hover.jpg);
}

.product-item .product-4 {
    background-image: url(./img/products/product-4.jpg);
    background-size: cover;
}

.product-item .product-4:hover {
    background-image: url(./img/products/product-4-hover.jpg);
}

.product-item .product-5 {
    background-image: url(./img/products/product-5.jpg);
    background-size: cover;
}

.product-item .product-5:hover {
    background-image: url(./img/products/product-5-hover.jpg);
}

.product-item .product-6 {
    background-image: url(./img/products/product-6.jpg);
    background-size: cover;
}

.product-item .product-6:hover {
    background-image: url(./img/products/product-6-hover.jpg);
}

.products-list .product-item__img {
    height: 285px;
    cursor: pointer;
}

.products-list .product-item__img:hover{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.products-list .product-item__description {
    line-height: 30px;
}

.products-list .product-item__description-name {
    font-weight: 700;
    font-size: 13px;
}

.products-list .product-item__description-price {
    font-size: 12px;
}

.products-list .product-item__description-review {
    font-size: 11px;
}

.free-from-section{
    margin-bottom: 80px;
}

.free-from-container{
    height: auto;
    width: 100%;
    background-color: #CFACAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-from-img {
    width: 50%;
    height: 1080px;
    background-image: url(./img/Free-from-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.free-from-list-block {
    background-color: #CFACAD;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.free-from-list-block h3{
    font-weight: 700;
    padding-bottom: 43px;
    color: #fff;
}

.free-from-list {
    padding-bottom: 43px;
}

.free-from-list-item {
    list-style-type: none;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.free-from-btn {
    padding: 11px 45px;
    border: 3px solid #fff;
    background-color: #CFACAD;
    cursor: pointer;
}

.free-from-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-out;
}

.reviews-section{
    margin-bottom: 80px;
}

.intro-text {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    padding: 40px 0;
}

.swiper-container {
    width: 100%;
    margin-bottom: 50px;
}

.reviews-section .reviews-container .swiper-container .swiper-wrapper .swiper-slide {
    height: 346px;
    color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.review-slide-1{
    background-image: url(./img/reviews/review-1.png);
}

.review-slide-2 {
    background-image: url(./img/reviews/review-2.png);
}

.review-slide-3 {
    background-image: url(./img/reviews/review-3.png);
}

.review-slide-4 {
    background-image: url(./img/reviews/review-4.png);
}

.review-slide-5 {
    background-image: url(./img/reviews/review-5.png);
}

.img-wrapper {
    background: rgba(3, 3, 3, 0.6);
    padding: 20px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.post-text {
    line-height: 25px;
    letter-spacing: 0.5px;
    overflow: auto;
}

.post-text::-webkit-scrollbar{
    width: 5px; /* ширина для вертикального скролла */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.post-text::-webkit-scrollbar-thumb{
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

.post-text::-webkit-scrollbar-thumb:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.post-date {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
}

.reviews-btn {
    padding: 11px 0;
    background-color: #E6E1D6;
    border: 3px solid #E6E1D6;
    width: 206px;
    margin: 0 auto;
    cursor: pointer;
}

.reviews-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-out;
}

.reviews-btn p {
    text-align: center;
}

.product-description-container {
    width: 100%;
    height: auto;
    background-color: #E6E1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description-block, .product-img-block {
    width: 50%;
}

.product-img-block {
    background-image: url(./img/buy-product-section.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
}

.product-description-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description-block form {
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-description-block h2 {
    margin-bottom: 33px;
}

.product-description-block .price {
    font-size: 21px;
    color: #B88987;
    margin-bottom: 18px;
}

.product-description-block .description {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
}

.count-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.count-block input[type="number"]::-webkit-outer-spin-button,
.count-block input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.count-block input[type="number"]:focus-visible{
    outline: none;
}

.decrease, .increase {
    background-color: #fff;
    border: 0;
    padding: 15px 20px;
    cursor: pointer;
}

.decrease:hover,
.increase:hover{
    background-color: rgba(184, 137, 135, 0.4);
    transition: 0.3s ease-out;
}

.count-result{
    width: 40px;
    border: none;
    text-align: center;
    cursor: default;
}

.add-to-cart-btn {
    border: 3px solid #000;
    padding: 12px 116px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing: normal;
    font-size: 14px;
    margin-bottom: 33px;
}

.add-to-cart-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    transition: 0.3s ease-out;
}

.buy-it-now-btn {
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    position: relative;
}

.buy-it-now-btn::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: #B88987;
    transition: width 0.3s ease-out;
    left: 0;
}

.buy-it-now-btn:hover::after,
.buy-it-now-btn:focus::after {
    width: 100%
}

.brands-section {
    width: 100%;
    height: auto;
}

.brands-section img {
    width: 100%;
}

.brands-mobile {
    display: none;
}

.get-glowing-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.get-glowing-text-block, .get-glowing-img-block {
    width: 50%;
}

.get-glowing-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-glowing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 535px;
}

.get-glowing-text-block p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 42px;
    text-align: center;
    width: 90%;
}

.get-glowing-btn {
    color: #000;
    text-decoration: none;
    padding: 12px 45px;
    border: 3px solid #E6E1D6;
    background-color: #E6E1D6;
}

.get-glowing-btn:hover{
    background-color: rgb(207, 172, 173);
    border-color: rgb(207, 172, 173);
    transition: 0.3s ease-out;
}

.get-glowing-img-block {
    background-image: url(./img/Your-skin-deserves-section.png);
    background-size: cover;
    background-position: center;
    height: 1080px;
}

.newsletter-subscription-section {
    background-color: #CFACAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.newsletter-subscription-section h4, .newsletter-subscription-section p {
    color: #fff;
    margin-bottom: 13px;
}

.subscribe-form-block {
    max-width: 470px;
}

.subscribe-form-block form {
    background-color: #fff;
    border: 1px solid #BFBFBF;
}

.newsletter-subscription-section input[type='email'] {
    width: 260px;
    border: none;
    outline: none;
    padding: 14px 15px;
}

.newsletter-subscription-section input[type='submit'] {
    width: 160px;
    height: 44px;
    background-color: #E6E1D6;
    border: none;
    cursor: pointer;
}

.newsletter-subscription-section input[type='submit']:hover {
    background-color: rgba(207, 172, 173, 0.5);
    border: 2px solid rgb(207, 172, 173);
    transition: 0.3s ease-out;
}

.our-story-block {
    margin-bottom: 100px;
}

.our-story-container {
    width: 100%;
    background-color: #E6E1D6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-story-img-block, .our-story-description-block {
    width: 50%;
}

.our-story-description-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-story-img-block {
    background-image: url(./img/our-story-block.png);
    background-size: cover;
    background-position: center;
    height: 1080px;
}

.our-story-wrapper {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-story-block p {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 42px;
}

.our-story-block a {
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

.our-story-block a::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(207, 172, 173);
    transition: width 0.3s ease-out;

}

.our-story-block a:hover::after,
.our-story-block a:focus::after{
    width: 100%;
}

.blog-section {
    margin-bottom: 100px;
}

.blog-section h4 {
    margin-bottom: 50px;
}

.blog-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-post {
    max-width: 380px;
}

.blog-post-img {
    width: 360px;
    margin-bottom: 35px;
}

.blog-post-img img {
    width: 100%;
}

.blog-post h4{
    text-align: left;
    margin-bottom: 6px;
}

.blog-post .blog-post-date {
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.blog-post p {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 21px;
}

.blog-post-btn{
    font-size: 13px;
    color: #ECB1B0;
    text-decoration: none;
    position: relative;
}

.blog-post-btn:hover {
    color: #B88987;
    transition: 0.3s ease-out;
}

.blog-post-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ECB1B0;
    top: 20px;
    left: 0;
}   

footer{
    background-color: #CFACAD;
    padding: 100px 0;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.footer-link::after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-out;
}

.footer-link:hover::after,
.footer-link:focus::after{
    width: 100%;
}

.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-social-media a:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.social-img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.rights {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}

.payments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-img{
    width: 48px;
    height:auto;
    margin-right: 14px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
        line-height: 0;
    }

    .search-box, .cart {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .cart-mobile {
        display: block;
    }

    .cart-mobile img {
        width: 26px;
    }

    .cart-mobile, .menu {
        width: 30px;
    }

    .logo img {
        width: 140px;
    }

    .search-mobile button {
        width: 30px;
        height: 30px;
        padding: 0;
    }

    .search-mobile button img {
        width: 100%;
    }

    .description-section p {
        font-size: 16px;
    }

    .shop-now-btn {
        padding: 11px 30px;
    }

    .description-section {
        padding: 100px 50px 100px;
    }

    .products-section .container {
        width: 95%;
        max-width: 590px;
    }

    .products-list {
        flex-direction: column;
        align-items: center;
    }

    .products-list .product-item {
        width: 100%;
    }

    .free-from-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .free-from-list-block h3 {
        padding-bottom: 0;
    }

    .free-from-list-block, .free-from-img {
        width: 100%;
        height: 500px
    }

    .post-text::-webkit-scrollbar {
        display: none;
    }

    .buy-product-section {
        margin-bottom: 80px;
    }

    .product-description-container {
        flex-direction: column-reverse;
    }

    .product-description-block, .product-img-block {
        width: 100%;
        height: 550px;
    }

    .product-description-block form {
        width: 95%;
    }

    .product-description-block .description {
        font-size: 16px;
    }

    .get-glowing-container {
        flex-direction: column-reverse;
    }

    .get-glowing-text-block, .get-glowing-img-block {
        width: 100%;
        height: 500px;
    }

    .get-glowing-section h3 {
        margin-bottom: 34px;
    }

    .brands-section .desktop-img{
        display: none;
    }

    .brands-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: auto;
    }

    .brands-mobile img {
        margin-bottom: 50px;
    }

    .get-glowing-wrapper p {
        width: 90%;
    }

    .newsletter-subscription-section p {
        width: 90%;
        text-align: center;
    }

    .newsletter-subscription-section input[type='submit'] {
        width: 110px;
    }

    button, input[type=submit], .button {
        padding: 0.6em 1em;
    }

    .newsletter-subscription-section input[type='email'] {
        width: 170px;
        padding: 14px 15px;
    }

    .our-story-block {
        margin-bottom: 50px;
    }

    .our-story-container {
        flex-direction: column;
    }

    .our-story-img-block, .our-story-description-block {
        width: 100%;
        height: 500px;
    }

    .our-story-wrapper p {
        width: 90%;
    }

    .blog-section .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .blog-post {
        margin-bottom: 50px;
    }

    .blog-post-img {
        width: 100%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-link {
        margin-bottom: 20px;
    }

    .payments {
        flex-wrap: wrap;
    }

    .payment-img {
        margin-bottom: 10px;
    }
}

@media (max-width: 380px) {
    .products-list .product-item__img {
        height: 220px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h2 {
        font-size: 28px;
    }
    
    .search-box, .cart {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .cart-mobile {
        display: block;
    }

    .cart-mobile img {
        width: 26px;
    }

    .cart-mobile, .menu {
        width: 30px;
    }

    .logo img {
        width: 140px;
    }

    .search-mobile button {
        width: 30px;
        height: 30px;
        padding: 0;
    }

    .search-mobile button img {
        width: 100%;
    }

    .products-list .product-item {
        width: 50%;
    }

    .free-from-img {
        height: 760px;
    }

    .product-description-block h2{
        font-size: 28px;
    }

    .product-description-block .description {
        font-size: 16px;
        width: 90%;
    }
    .get-glowing-text-block p {
        font-size: 16px;
    }

    .get-glowing-img-block {
        height: 760px;
    }

    .our-story-block p{
        font-size: 16px;
    }

    .blog-section .container {
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
    }

    .blog-post {
        margin-bottom: 50px;
        width: 45%;
    }

    .blog-post-img {
        width: 100%;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-link {
        margin-bottom: 20px;
    }

    .payments {
        flex-wrap: wrap;
    }

    .payment-img {
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .post-text::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width:1440px) {
    .search-box {
        width: 280px;
    }

    .search-box button[type='submit'] {
        width: 60px;
        padding: 7px 7px 7px 20px;
    }

    .blog-section .container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .blog-post{
        max-width: 400px;
        width: 45%;
        margin-bottom: 40px;
    }

    .blog-post-img {
        width: 100%;
    }

    footer .container {
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .shop-now-btn {
        width: 285px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}